
<div class="column-structure-page">
    <div id="personal-section" class="column-section">
        <div class="row">
            <div id="profile-block"  class="column border full-page">
                <div class="row">
                    <span>Hello:</span>
                    <div class="column">
                        <div>
                            <img id="profile-img" src="https://www.katherineannward.com/Images/Thumbnails/25thHourTarotThumb.png" />
                        </div>
                        <span>{{user.username}}</span>
                        <br />
                        <span>{{user.first_name}}</span>
                    </div>
                </div>
            </div>
            <br /><p> </p>
            <div id="stretch" class="column border">
                <div>Your friends</div>
                <ul>
                </ul>
            </div>
            <div id="goals"  class="column border">
                <form #postForm="ngForm" name="post" [hidden]="user.user_id <= 0">
                    <div class="form-group">
                        <label for="post-text">Text:</label>
                        <input type="text" class="form-control" id="post-text" name="post-text" [(ngModel)]="postContent">
                        <label for="post-image">Image:</label>
                        <input type="file" class="form-control" id="post-image" name="post-image" (change)="onImgLoad($event)">
                        <br/>
                        <button type="submit" (click)="createPost()">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="post-block" class="column-section full-page">
        <div class="row">
            <div id="post-block-header" class="border">
                <p style="text-align:center">Recent posts</p>
            </div>

            <div class="border">
                <div *ngFor="let post of postset">
                    <div (click)="loadpost(post);">
                        <app-post-summary [selected]="post"></app-post-summary>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>


    <div id="display-block" class="column-section border full-page" >
        <div class="row">
            <app-post [selected]="selected"></app-post>
        </div>
    </div>
</div>





