<div id="global-container">
    <h1 id = "title">Register Below:</h1>
    
<!-- Main Form -->
    <div class="row">
        <form #registerForm="ngForm" name="registration">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required minlength="4" maxLength="20" [(ngModel)]="newUser.username" #username="ngModel" (change)="onSubmit()">
                


                </div>
            <div class="form-group" [hidden]="!userExists || username.invalid">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password" required minlength="4"  [(ngModel)]="newUser.password" #password="ngModel">
            </div>
            <div>
                <button type="submit" (click)="onMakeUser()" [disabled]="password.invalid || password.untouched">Register</button>
            </div>
        </form>
    </div>

<!-- Validations -->
    <div class="row">
        <div [hidden]="username.valid || username.untouched">
            <p>Please enter a username between 4 and 20 characters.</p>
        </div>

        <div [hidden]="userExists">
            <p>Username is taken. Please try another.</p>
        </div>

        <div [hidden]="password.valid || password.untouched || username.invalid">
            <p>Please enter a password over 4 characters.</p>
        </div>
    </div>

</div>


