
<div class="post-block">
    <div class="post-userposted">{{user}} posted:</div>
    <div class="post-date">posted on {{date}}</div>
    <!-- alternatively use an "hours ago" syntax if recent -->>
    <div class="post-image">
        <span>(Image)</span>
    </div>
    <div class="post-message">{{message}}</div>
    <div class="post-likes">(^-^)b {{likecount}}</div>
    <div class="post-comment">
        <!-- comment component needed-->
        <!-- comment component needs recursion -->
        <span>This is the first reply.</span>
        <div>
            <div>This is the second.</div>
            <div>|> reply</div>
        </div>
        <div>|> reply</div>
    </div> <!-- end comment component-->
</div>