/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --dark-blue-main: rgb(42, 42, 85);
    --dark-blue-accent: rgb(65, 65, 94);
    --text-light: rgb(255, 245, 233);
    --text-dark: rgb(37, 36, 33);
    --light-pink: pink;
    --light-blue: azure;
}

html { height: 100%;}

body
{
    background-color: var(--dark-blue-main);
    margin: 0%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--text-light);
}

app-root {
    display: block;
    height: 100%;
}
app-feed-page {
    display: block;
    height: 100%;
}

full-page {
    display: block;
    height: 100%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

img {
    align-self: center;
}

.img-container {
    width: 100%;
    align-content: center;
    align-items: center;
}

a
{
    color: var(--light-pink);
}

.navbar-brand {
    color: var(--text-light);
}

.liked {
    background-color: var(--light-pink);
}

.unliked {
    background-color: var(--dark-blue-accent);
}


#global-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 25px;
}

#user-input {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
}

.ng-valid[required], .ng-valid.required {
    border-bottom: 5px solid green;
}

.ng-invalid:not(form) {
    border-bottom: 5px solid red;
}

#post-sum-unit {
    display: flex;
    background-color: var(--dark-blue-accent);
    color: var(--text-light);
    border:2px;
    border-style: groove;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#post-sum-img {
    max-width: 100%;
    max-height: 100px;
}

.post-block {
    margin:2%;
    border:2px;
    background-color: var(--dark-blue-accent);
    border-style:groove;
    border-color: var(--dark-blue-accent);
}

.post-header {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.post-user {
    color: var(--text-light);
}

.post-date {
    color: var(--text-light);
}

#post-image {
    text-align:center;
    max-width: 100%;
    max-height: 400px;
}

.post-message {
    text-align: center;
}

.post-likes {
    text-align:right;
    border: 5px;
    border-color: var(--dark-blue-accent);
}

.post-comments {
    margin:1%;
}

.comment-margin {
    margin: 1%;
}

.comment-box {
    margin: 1%;
    background-color:var(--dark-blue-accent);
    border-color:var(--text-light);
    border: 2px;
    border-style: groove;
}

.comment-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment-user-selfie {
    width:30px;
    height: 30px;
    display: flex;
    flex-direction: left;
}

.comment-user {
    display:flex;
    flex-direction: row;
}

.comment-date {
    display:flex;
    flex-direction:right;
}

.comment-message {
    /* background-color: black; */
}

#reply-box
{
    background-color:var(--dark-blue-main);
    margin-left:5px;
}

#reply-data {
    border-top: 2px groove var(--text-light);
}

#reply-create {
    border-top: 2px groove var(--text-light);
}

.reply-error {
    color: black;
}