
<div class="post-block">
    <div class="post-header">
        <div class="post-user">@{{_selected.user.username}} posted: </div>
        <div class="post-date"> on {{pd}}</div>
    </div>
    <img class="post-image" src={{postImg}} alt="image" [hidden]="!_selected.post.image"/>
    <div class="post-message">{{_selected.post.content}}</div>
    <!--app-post-likes count(user,date)></app-post-likes-->
    <div class="post-likes">
        <!-- <app-like [parentPostID]="_selected.post.post_id"></app-like> -->
        <!--<span> {{post.likecount}}</span>-->
        <!--<button onclick="addlike()">(^-^)\_b</button>-->
        <!--img src="likethumb.png" alt="(^-^)\_b" /-->
    </div>
    <div>
        <app-like [parentPostID]="_selected.post.post_id"></app-like>
    </div>

    <div class="post-comment">
      <app-post-comment [post_id]="_selected.post.post_id" (addCommentEvent)="addComment($event)"></app-post-comment>
        <div *ngFor="let com of toplevelcomments">
            <br />
            <app-comment [com]="com"></app-comment>
            <!--<app-comment [com]="com"></app-comment>-->
        </div>
    </div>
</div>
