<!--<p>comment works!</p>-->
<div class="comment-margin">
    <div class="comment-box">
        <div class="comment-user-selfie comment-header" src="https://www.katherineannward.com/Images/25thHour/SwordsBack.png">picture of horse</div>
        <div>
            <span class="comment-user comment-header">@{{user}} replied </span>
            <span class="comment-date comment-header"> on {{date}}</span>
        </div>
        <div class="comment-message">{{message}}</div>
    </div>
</div>

<br />


<div id="post-block" class="post-block column">
    <div class="row align-left internals">
        <p>User</p>
        <p>Username</p>
    </div>
    <div class="column center internals">
        <p>Text Content</p>
        <img src="https://www.katherineannward.com/Images/25thHour/SwordsBack.png" class="post-img"/>
    </div>
    <div class="row internals">
        <p>Likes</p>
        <p>Comments</p>
    </div>
</div>