<div id="post-sum-unit">
    <div class="row">
        <div id="post-sum-header" class="column">
            <span>@{{_selected.user.username}} posted </span>
            <span> on {{_selected.post.date}}</span>
        </div>

        <div>
            <span>{{_selected.post.content}}</span>
            <br />
            <div [hidden]="!_selected.post.image">
                <img class="post-img" src={{postImg}} />
            </div>

        </div>

        <div class="column">
            <span>Likes#  </span>
            <span>Comments#  </span>
        </div>
    </div>
</div>