<p>POST SUMMARY</p>
<div id="post-sum-unit">
    <div class="row">
        <div class="column">
            <span>{{selected.user.username}}</span>
        </div>

        <div>
            <p>{{selected.post.post_id}} {{selected.post.content}}</p>
            <img class="post-img" src="https://www.katherineannward.com/Images/Thumbnails/25thHourTarotThumb.png" />
        </div>

        <div class="column">
            <span>Likes</span>
            <span>Comments</span>
        </div>
    </div>
</div>